build/
benchmark/interrupt_demo/32b/*.o
benchmark/interrupt_demo/64b/*.o
benchmark/interrupt_demo/32b/*.elf
benchmark/interrupt_demo/64b/*.elf
benchmark/interrupt_demo/64b/*.cfg
benchmark/interrupt_demo/32b/*.cfg
benchmark/*.gdb

